source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2/

nuget FAKE
nuget FAKE.Persimmon
nuget Persimmon.Console
nuget Nuget.CommandLine
nuget RabbitMQ.Client
nuget SourceLink.Fake
nuget Persimmon
nuget Persimmon.Runner
nuget FsYaml
nuget Vagabond

github fsharp/FAKE modules/Octokit/Octokit.fsx
